.acc_menu_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

:global(.active_dropdown) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc_menu_item_link {
  text-decoration: none;
  color: inherit;
}

.acc_menu_item {
  display: flex;
  column-gap: 7px;
}
