.idea {
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
}

/*TODO: MEDIA-ЗАПРОСЫ*/

.ideaContent {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin: 15px;
}

.ideaContent .title {
    font-size: 22px;
    font-weight: 700;
}

.ideaContent .description {
    font-size: 17px;
    font-weight: 400;
}

.ideaContent img {
    border-radius: 10px;
    /* Мб откажусь потом от этого, т.к. изображение шакалит */
}