.idea {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
}

/*TODO: MEDIA-ЗАПРОСЫ*/

.ideaContent {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 15px;
}

.ideaContent .title {
    font-size: 28px;
    font-weight: 700;
}

.ideaContent .description {
    font-size: 18px;
    font-weight: 400;
}

.ideaContent img {
    border-radius: 10px;
}