.user_request {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.user:hover {
  text-decoration: 1px underline;
}

.user img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.user_info {
  display: flex;
}
