.market_button {
    width: 100%;
}

.market_button_content {
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    font-size: 18px;
}

.market_button_content img {
    width: 30px;
    height: 30px;
}
