.admin_menu {
    border: none;
    text-align: center;
    cursor: pointer;

    margin-top: -20px;
    margin-bottom: -20px;
}

.admin_menu_item {
    background-color: #9370D8;
    color: white;

    border: none;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;

    border-radius: 10px;

    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    font-size: 25px;
}

.admin_menu_item:disabled {
    cursor: default;
}

.admin_menu_item:hover:not([disabled]) {
    background-color: #7366BD;
    transition-duration: 0.4s;
}