.button {
    background-color: #FF9D43;
    color: white;

    width: 400px;
    height: 70px;

    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;

    border-radius: 10px;

    font-family: 'Comfortaa', 'sans-serif';
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.55px;
}

.button:hover {
    background-color: #ff881a;
    transition-duration: 0.4s;
}
