.ideas {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    align-content: start;
    justify-content: center;
    grid-gap: 35px 40px;
    grid-area: content;

    margin: 20px 0;
    width: 100%;
}

.found_ideas_header {
    display: block;
    margin: 30px;
    color: #796964;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}

/*TODO: MEDIA-ЗАПРОСЫ*/