.header {
    grid-area: header;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.07);

    display: grid;
    grid-template: "logo account";
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.header .logo {
    grid-area: logo;
    color: #FB6535;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.acc_main_info {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    align-items: center;
}

.nickname_and_id {
    display: grid;
    justify-items: end;
    font-family: Montserrat, sans-serif;
}

.nickname_and_id .nickname {
    font-weight: 600;
    font-size: 20px;
    color: #373737
}
.nickname_and_id .id {
    font-size: 15px;
    font-weight: 500;
    color: #F65D2E;
}

.header .account_settings {
    grid-area: account;
    position: relative;
    display: inline-block;
}

.header .account_icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


