.header {
    grid-area: header;
    position: relative;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.07);
    display: grid;
    align-content: center;
}

.header .logo {
    margin-left: 40px;
    color: #FB6535;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}
