.header {
    grid-area: header;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.07);
    display: grid;
    grid-template: "logo account";
    grid-template-columns: 4fr minmax(300px, 1fr);
    align-content: center;
}

.header .logo {
    grid-area: logo;
    margin-left: 40px;
    color: #FB6535;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.header .text_wrapper {
    grid-area: account;
    margin-right: 40px;
    color: #FB6535;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    text-decoration: none;
}