.friend_list_wrapper {
  grid-area: main_content;
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.friend_list_wrapper_bubble {
  width: 90%;
  margin-top: calc((100% - 90%) / 2);
  background: white;
  border-radius: 10px 10px 0 0;
  display: grid;
  justify-items: center;
}

.friend_list_wrapper_content {
  align-content: start;
  width: 85%;
  margin: 5% 0;
  display: grid;
  grid-row-gap: 25px;
}

.friend_list {
  display: grid;
  grid-row-gap: 10px;
  /*padding: 0 5px;*/
}

.friend_search {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: max-content;
}

.add_friend_btn {
  display: grid;
  justify-content: center;
  align-content: center;
}
