.signUpWindow {
    grid-area: content;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 64px 1px #00000026;
    padding: 20px 30px;
}

.signUpWindow div[type="title"] {
    color: #373737;
    font-family: "Montserrat-Bold", Helvetica, serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 36px;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signUpWindow error {
    color: red;
    font-family: "Montserrat-Bold", Helvetica, serif;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    white-space: nowrap;
}

.signUpWindow input {
    background-color: #ffffff;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    height: 40px;
    font-family: "Montserrat-Regular", Helvetica, serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.signUpWindow div {
    display: grid;
    grid-template-areas: "title content";
    font-family: "Montserrat-Regular", Helvetica, serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
    margin: 15px 0;
}

.signUpWindow span {
    grid-area: title;
    color: #707070;
    font-family: "Montserrat-Regular", Helvetica, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
}

.signUpWindow .navLink {
    grid-area: content;
    color: #ff6331;
    font-family: "Montserrat-Medium", Helvetica, serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: underline;
    text-align: right;
}