.nickname_and_id {
  display: grid;
  justify-items: end;
  font-family: Montserrat, sans-serif;
}

.nickname_and_id .nickname {
  font-weight: 600;
  font-size: 20px;
  color: #373737;
}

.nickname_and_id .id {
  font-size: 15px;
  font-weight: 500;
  color: #f65d2e;
}
