.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #adadad;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.separator_text {
  color: #adadad;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
