.signUpForm {
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-row-gap: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-items: center;
  align-self: center;
  height: fit-content;
  padding: 30px 40px;
  width: 95%;
  margin: 10px 0;
}

.login_suggestion {
  font-size: 15px;
  color: #707070;
}

.login_link,
.login_link:visited {
  color: #ff6332;
}

.signUpHeader {
  color: #373737;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
}
