.app-wrapper {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas:
          "header"
          "content"; /*TODO: Footer чуть позже: в макете тоже изменим; будет наверняка темно-серого цвета*/
    grid-template-rows: 80px auto;
}